/* position fixed */
/* element moves in relation to viewport */
/* doesn't remains part of document flow (the elements after will take its place)*/

* {
  margin: 0;
  padding: 0;
}

.box {
  font-size: 4rem;
  height: 100px;
  width: 100px;
}

.b1 {
  background: tomato;
  position: fixed;
  bottom: 0;
  right: 0;
}
.b2 {
  background: thistle;
  position: fixed;
  top: 0;
  right: 0;
}
.b3 {
  background: teal;
  position: fixed;
  bottom: 0;
  left: 0;
}
.b4 {
  background: peachpuff;
  position: fixed;
  top: 0;
  left: 0;
}
